@charset "UTF-8"; 

$green-background-color: #F0FFED; 
$white: #FFFFFF; 
$blue-button: #4F72FF;  
$informative-purple: #FEB6FF; 
$search-green: #009628;
$gray: #515151; 
$alpha-black: rgba(0, 0, 0, 0.445); 


// Products variables 
$tomato: tomato;
$blueviolet: blueviolet;
$whitebrown-skin: rgb(255, 112, 112); 

@mixin flex-row-header {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

@mixin flex-mid {
	display: flex; 
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@mixin options-green {
    background-color: $search-green;
    padding: 25px;
    height: 40px;
    width: 70px;
    border: 1px solid $gray;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}

@mixin options-white {
	color: $gray;
    background-color: $white;
    padding: 25px;
    height: 40px;
    width: 70px;
    border: 1px solid $gray;
    border-radius: 0px 5px 5px 0px;
    border-left: 0px;
}

@mixin div-default {
    background-color: $white;
    border: 1px solid $gray;
    box-shadow: $alpha-black 10px 1px 10px;
    border-radius: 5px;
}