@charset "UTF-8";

*,html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F0FFED !important;
}

.div-father {
    border: 1px solid #009628;
    border-radius: 7px;
    margin: auto;
    margin-top: 220px;
    display: flex;
    gap: 50px;
    background-color: white;
    justify-content: center;
    width: 800px;
}
@media (min-width: 240px) and (max-width: 800px) {
    .div-father{
        margin-top: 110px;
        width: auto;
        flex-direction: column;
    }
}

.div-welcome {
    padding: 20px;
}

@media (min-width: 240px) and (max-width: 800px) {
    .div-welcome{
        border-bottom: 1px solid #009628;
        width: 100%;
    }
}

.div-welcome p {
    margin-bottom: 5px;
}

.div-welcome span {
    color: #009628;
}

.div-welcome .div-welcome-security {
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-welcome .div-welcome-message {
    margin-bottom: 20px;
    font-style: italic;
    color: #515151;
}

.div-welcome .save-nature {
    font-size: 9pt;
}

.div-form {
    border-left: 1px solid #009628;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.div-form .div-email-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-form .email {
    padding: 14px;
    border: 2px solid #009628;
    border-radius: 7px;
}

.div-form .link-forgot-email {
    font-size: 11pt;
}

.div-form .div-inputs-options {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.div-form .create-account-input {
    margin-left: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    padding: 14px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.div-form .proceed-input {
    margin-left: 30px;
    background-color: #4F72FF;
    border: none;
    border-radius: 7px;
    padding: 14px;
    color: white;
    font-weight: bolder;
}

a:hover{
    cursor: pointer;
}