@charset "UTF-8"; 
@import '../root/root'; 

footer {
    background-color: $search-green;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
}