@charset "UTF-8";
@import '../root/root';

header { 
    @include flex-row-header;
    width: 100vw;
    height: 70px;
    background-color: $white;
    border-bottom: 1px solid $gray;
    position: fixed;
    z-index: 0;
    top: 0;
}

.div-options-menu_m {
    position: fixed;
    z-index: 9;
    display: block;
    color: white;
    background-color: $search-green;
    height: 100%; 
    width: 100%;
    right: -1920px;  

    .span-close {
        font-size: 70px;
    }

    .div-options-select {
        padding: 15px;
    }

    .list-options {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .span-option {
        font-size: 30px;

        @media (min-width: 670px) {
            font-size: 50px;
        }
    }

    .option {
        font-size: 30px;
        cursor: pointer;

        @media (min-width: 670px) {
            font-size: 50px;
        }
    }

    a {
        color: white;
    }
}

.div-options-menu_m_open {
    right: -1920px;  
    visibility: visible;
    animation: MenuMoveOpen 0.5s forwards;

    @keyframes MenuMoveOpen {
        from { 
            right: -1920px;  
            visibility: visible;
        }
        to { right: 0px; }
    }
}

.div-options-menu_m_close {
    right: -1920px;      
    visibility: hidden;
    animation: MenuMoveClose 1s forwards;
    
    @keyframes MenuMoveClose {
        from { 
            right: 0px; 
            visibility: visible;
        }
        to { 
            right: -1920px;  
            visibility: hidden;
        }
    }
}


.div-logo {
    @include flex-mid;
    font-size: 20px;
    padding: 15px 10px;
    border-right: 1px solid $gray;

    @media (min-width: 1065px) and (max-width: 1175px){
        padding: 25px;
        font-size: 25px;
    }

    @media (min-width: 1185px) {
        padding: 25px;
        font-size: 25px;
    }
}

.div-search {
    padding-top: 8px;

    form {
        @include flex-row-header;
        gap: 0px;
    }
    
    select {
        display: none;

        @media (min-width: 500px) {
            display: block;
            color: white;
            font-size: 15px;
            padding: 8px;
            border-radius: 5px 0px 0px 5px;
            background-color: $search-green;
            border: 1px solid $gray;
            border-right: 0px;
        }
    }

    input[type=search] { 
        border: 1px solid $gray;
        border-radius: 20px 0px 0px 20px;
        padding: 10px;

        @keyframes animation_width {
            from {
                
            }
        }

        &:focus {
            outline: none;
        }

        @media (min-width: 500px) {
            width: 30vw;
            border-left: none;
            border-radius: 0px;
        }

        @media (min-width: 712px) {
           width: 20vw;  
        }

        @media (min-width: 890px) {
            width: 40vw;
        }

        @media (min-width: 1185px) {
            width: 30vw;
        }

        @media (min-width: 1560px) {
            width: 40vw;
        }

        @media (min-width: 1910px) {
            width: 50vw;
        }
    }

    button {
        text-align: center;
        padding: 7px;
        color: white;
        background-color: $search-green;
        border-radius: 0px 25px 25px 0px;
        border: 1px solid $gray;
        border-left: none;
    }

    span {
        font-size: 35px;
    }
}

.div-wallet-option {
    padding: 10px;
    display: flex;
    color: white;
    display: none;
    
    @media (min-width: 1185px) {
        display: flex;
    }


    .wallet {
        @include flex-mid;
        @include options-green;
    }

    .wallet-number {
        @include flex-mid;
        @include options-white;

        @media (min-width: 1600px) {
            width: 100px;
        }
    }

    span {
        font-size: 35px;
    }
}

.div-cart-option {
    color: white; 
    display: none;

    @media (min-width: 712px) {
       @include flex-mid
    }
    

    .cart {
        @include flex-mid;
        @include options-green;
    }

    .cart-numbers {
        @include flex-mid;
        @include options-white;

        .cart-number {
            font-size: 30px;
        }

        @media (min-width: 1600px) {
            width: 100px;
        }
    }

    span {
        font-size: 35px;
    }
}

.mobile-wallet-cart {
    display: flex;
    gap: 50px;
}

.div-wallet-option-m {
    
    display: flex;
    color: white;
    
    @media (min-width: 1185px) {
        display: flex;
    }


    .wallet-m {
        @include flex-mid;
        @include options-green;
    }

    .wallet-number-m {
        @include flex-mid;
        @include options-white;

        @media (min-width: 1600px) {
            width: 100px;
        }
    }

    span {
        font-size: 35px;
    }
}

.div-cart-option-m {
    color: white; 
    display: flex;

    @media (min-width: 712px) {
        @include flex-mid
    }
    

    .cart-m {
        @include flex-mid;
        @include options-green;
    }

    .cart-numbers-m {
        @include flex-mid;
        @include options-white;

        .cart-number-m {
            font-size: 30px;
        }

        @media (min-width: 1600px) {
            width: 100px;
        }
    }

    span {
        font-size: 35px;
    }
}

.div-options {
    @include flex-mid;
    background-color: $search-green;
    color: $white;
    width: 65px;

    @media (min-width: 1600px) {
        width: 100px;
    }

    .span-menu {
        text-align: center;
        font-size: 35px;

        @media (min-width: 1600px) {
            display: none;
        }
    }

    .span-settings {
        display: none;
        font-size: 50px;

        @media (min-width: 1600px) {
            display: inline;
        }
    }
}

.div-options-menu_pc {
    display: none;
    position: absolute;
    top: 75px;
    right: 0.8px;
    width: 190px;
    border-radius: 3px;
    background-color: $white;
    color: black;
    border: 1px solid $gray;
    font-size: 24px;

    @media (min-width: 1600px) {
        display: none;
    }

    padding: 10px;

    span {
        color: $search-green;
    }

    .option {
        cursor: pointer;
    }

    a {
        color: black;
    }
}

