@charset "UTF-8";
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

select, option, span, button {
  cursor: pointer;
}

option {
  border: none;
}

body {
  background-color: #F0FFED;
}